{% extends "billing/basebilling.html" %}

{% block content %}
<h1>Add Line Items</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.description.label }}<br>
        {{ form.description() }}
    </div>
    <div>
        {{ form.quantity.label }}<br>
        {{ form.quantity() }}
    </div>
    <div>
        {{ form.unit_price.label }}<br>
        {{ form.unit_price() }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<h2>Current Line Items</h2>
<ul>
    {% for item in bill.line_items %}
        <li>{{ item.description }}: {{ item.quantity }} @ {{ item.unit_price }} = {{ item.total_price }}</li>
    {% endfor %}
</ul>
{% endblock %}
