{% extends "base.html" %}

{% block content %}
<h2>Manage Products</h2>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Item Type</th>
            <th>Seller</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.item_type.name }}</td>
                <td>{{ product.seller.username }}</td>
                <td>
                    <form action="{{ url_for('edit_product', product_id=product.product_id) }}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
