{% extends "base.html" %}

{% block content %}
<h2>Manage Users</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>In-Store Credit</th>
            <th>View Profile</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td data-label="First Name">{{ user.first_name }}</td>
            <td data-label="Last Name">{{ user.last_name }}</td>
            <td data-label="Email">{{ user.email }}</td>
            <td data-label="Role">{{ user.role.name }}</td>
            <td data-label="In-Store Credit">${{ user.in_store_credit }}</td>
            <td data-label="View Profile">
                <a href="{{ url_for('edit_user_admin', user_id=user.user_id) }}">View/Edit</a>
            </td>
            <td data-label="Action" class="action-column">
                <form action="{{ url_for('update_user_role', user_id=user.user_id) }}" method="post">
                    <select name="role" required>
                        {% for role in roles %}
                            <option value="{{ role.role_id }}" {% if user.role.role_id == role.role_id %}selected{% endif %}>
                                {{ role.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
