{% extends "base.html" %}

{% block content %}
<h2>Fish for Sale</h2>
<!-- Filter Dropdown -->
<div class="filter">
    <label for="subtype_filter">Filter by type:</label>
    <select id="subtype_filter" onchange="filterItems()">
        <option value="all">All</option>
        {% for subtype in fish_subtypes %}
            <option value="{{ subtype.item_subtype_id }}">{{ subtype.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="item-list">
    {% for fish in fish %}
        <div class="item" data-subtype="{{fish.item_subtype_id}}">
            <img src="{{ fish.image_url }}" alt="{{ fish.name }}">
            <p>{{ fish.name }} - ${{ fish.price }}</p>
            {% if fish.order_status == 'IP' %}
                <span>Item on hold</span>
            {% elif not current_user.is_admin %}
            <span class="tooltip">Info
                <span class="tooltip-text">Please give us a call or come into the store to order this product!</span>
            </span>
            {% else %}
                <form action="{{ url_for('create_order', product_id=fish.product_id) }}" method="post">
                    <button type="submit">Create Order</button>
                </form>
            {% endif %}

        </div>
    {% endfor %}
</div>
<script>
    function filterItems() {
        const filterValue = document.getElementById('subtype_filter').value;
        const items = document.querySelectorAll('.item');
    
        items.forEach(item => {
            const itemSubtype = item.getAttribute('data-subtype');
            if (filterValue === 'all' || itemSubtype === filterValue) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    }
    </script>
    
{% endblock %}
