{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<form action="{{ url_for('login') }}" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username_or_email.label }}
        {{ form.username_or_email(class="form-control") }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
<div class="forgot-links" style="margin-top: 30px;">
    <a href="{{ url_for('forgot_password') }}" class="btn btn-link">Forgot Password?</a>
    <a href="{{ url_for('forgot_username') }}" class="btn btn-link">Forgot Username?</a>
</div>
{% endblock %}
