{% extends "base.html" %}

{% block title %}Policies - Corals4Cheap{% endblock %}

{% block content %}
<h1>Our Policies</h1>
<h2>Return Policy</h2>
<p>All Sales Are Final! We do not offer any warranties on used products, and if you bought a product new we will help you get in contact 
    with the company who made the product as they are the responsible party.</p>

<h2>Consignment</h2>
<p>All Consignment products are subject to 25% commission to Corals4Cheap. If you would like your item featured on the home page, 
    reach out to us and we will put it on the home page for an extra 10% for a total of 35% of the final sale price. 
    If you want to remove it from the featured list and it hasn't sold or doesn't have an active order then it will go back down to the 25%
</p>
<p>To become a seller on our site, please contact us or come into the store and we can talk about working with you!</p>

<h2>Shipping Policy</h2>
<p>Message to inquire about shipping</p>


<h2>Gift Cards and In Store Credit</h2>
<p>Gift Cards and In Store Credit cannot be used to purchase anything on the website. Please come in store to see what we have in stock!</p>

<h2>Privacy Policy</h2>
<p>Your privacy is important to us. We will never share your personal information with third parties.</p>
{% endblock %}
